mixin company(monthIn, monthOut, yearIn, yearOut, name, description)
    li(class="experience__company")
        h3= monthIn
        h3= yearIn
        h3= monthOut
        h3= yearOut
        h3= name
        p= description